{namespace site.block}
/**
 * @param url
 */
{template .video}
    <figure class="block" style="width:620px;height:345px;overflow:hidden;background-color:#59595B;" data-type="video" data-size="620x430">
      <iframe width="420" height="315" src="{$url}" frameborder="0" allowfullscreen></iframe>
    </figure>
{/template}