{namespace site.block}
/**
 * @param url
 */
{template .video}
    <figure class="block" data-type="video" data-size="620x430" style="width:620px;height:430px;overflow:hidden;background-color:#59595B;">
      <iframe width="420" height="330" src="{$url}" frameborder="0" allowfullscreen></iframe>
    </figure>
{/template}