{namespace site.block}
/**
 * Says hello to the world.
 */
{template .video}
    <figure class="block"  data-type="video" data-size="620x430">
      <img src="placeholders/video_(620x430).jpg">
    </figure>
{/template}